<?xml version='1.0' encoding='utf-8'?>
<widget 
	id="edu.northwestern.dosa.nuhelp" 
	version="0.0.1" 
	android-versionCode="7"
	ios-CFBundleVersion="1.0.0"
	xmlns="http://www.w3.org/ns/widgets" 

	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NUHelp</name>
    <description>
        NUHelp Northwestern University Helpful Services
    </description>
    <author email="sait-web1@northwestern.edu" href="http://www.northwestern.edu">
        Northwestern SAIT Application Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="ios">
    	<!-- deployment target: 7, the lowest version to support -->
    	<preference name="EnableViewportScale" value="true"/>
    	<splash src="../cordova-assets/launch-images/ios/test.png" width="750" height="1334"/>
    	<splash src="../cordova-assets/launch-images/ios/test2.png" width="1242" height="2208"/>
    </platform>
    <preference name="Orientation" value="portrait" />
</widget>