<div class="menu-view show">
	<div class="screen shaded"><button data-click="screen"></button></div>
	<div class="moveable show transition">
		<div class="bar">
			<div class="message"><span>Some important message</span></div>
			<div class="menu-btn"><button data-click="toggle"><i>menu</i><b aria-hidden="true">&#8801;</b></button></div>
		</div>

		<div class="menu">
			<div class="two-row">
				<div class="row">
					<div class="bluelights"><button data-click="item"><b>Bluelights</b></button></div>
					<div class="call"><button data-click="item"><b>Call</b></button></div>
					<div class="report"><button data-click="item"><b>Report</b></button></div>
				</div>
				<div class="row">
					<div class="about"><button data-click="item"><b>About</b></button></div>
					<div class="services"><button data-click="item"><b>Services</b></button></div>
					<div class="profile"><button data-click="item"><b>Profile</b></button></div>
				</div>
			</div>
		</div>
	</div>
</div>
