<div class="service-view">
    <div class="statusbar-buffer"></div>
    <div class="list-container">
        <div class="type list">
            <div class="list-scrollable">
                <div class="service-listitem">
                    <div class="overview">
                        <img class="service-image" src="css/imgs/random-images/field-landscape-meadow-3170-824x550.jpg" alt="">
                        <div class="service-info">
                            <div class="service-name">Evanston Health Service</div>
                            <!--<div class="service-description">asdf asd asdfds fasdf asdf asdf asd fasd fasd fasd asdf asd asdf asdf asd fa sf asdf asdf asdf asdf asd fads ...</div>-->
                        </div>
                    </div>
                    <div class="overview-actions">
                        <div class="action phone-action"><i class=" icon-call"></i></div>
                        <div class="action detail-action"><i class="icon-more-horiz"></i></div>
                    </div>
                    <div class="details-actions">
                        <div class="action close-action"><i class="icon-close"></i></div>
                    </div>
                    <div class="details">
                        <div class="title-section">
                            <img class="service-image" src="css/imgs/random-images/field-landscape-meadow-3170-824x550.jpg" alt="">
                            <div class="service-name">Evanston Health Service</div>
                        </div>
                        <div class="info-section">
                            <div class="service-description">If you are experiencing a medical emergency, <a href="sms:1-408-555-1212">New SMS Message</a>including those due to excessive alcohol consumption, call 911 to summon paramedics or go to the nearest hospital emergency room.</div>

                            <div class="action-section phone-section">
                                <div class="info service-phone">234-234-2342</div>
                                <div class="action phone-action"><i class="icon-call"></i></div>
                            </div>
                            <div class="action-section email-section">
                                <div class="info service-email">hao@northwestern.edu</div>
                                <div class="action email-action"><i class="icon-mail"></i></div>
                            </div>
                            <div class="action-section website-section">
                                <div class="info service-website">northwestern.edu</div>
                                <div class="action website-action"><i class="icon-publ"></i></div>
                            </div>
                            <div class="location-section">
                                <div class="address">330 University Place, Evanston IL, 60208</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-listitem">
                    <div class="overview">
                        <img class="service-image" src="css/imgs/random-images/bar-feet-legs.jpg" alt="">
                        <div class="service-info">
                            <div class="service-name">Safe Ride</div>
                            <!--<div class="service-description">asdf asd asdfds fasdf asdf asdf asd fasd fasd fasd asdf asd asdf asdf asd fa sf asdf asdf asdf asdf asd fads ...</div>-->
                        </div>
                    </div>
                    <div class="overview-actions">
                        <div class="action mail-action"><i class=" icon-mail"></i></div>
                        <div class="action detail-action"><i class="icon-more-horiz"></i></div>
                    </div>
                </div>
                <div class="service-listitem">
                    <div class="overview">
                        <img class="service-image" src="css/imgs/random-images/evening-lake-people-1402.jpg" alt="">
                        <div class="service-info">
                            <div class="service-name">Counseling and Psychological Services</div>
                            <!--<div class="service-description">asdf asd asdfds fasdf asdf asdf asd fasd fasd fasd asdf asd asdf asdf asd fa sf asdf asdf asdf asdf asd fads ...</div>-->
                        </div>
                    </div>
                    <div class="overview-actions">
                        <div class="action phone-action"><i class=" icon-call"></i></div>
                        <div class="action detail-action"><i class="icon-more-horiz"></i></div>
                    </div>
                </div>
                <div class="service-listitem">
                    <div class="overview">
                        <img class="service-image" src="css/imgs/random-images/field-landscape-meadow-3170-824x550.jpg" alt="">
                        <div class="service-info">
                            <div class="service-name">Evanston Health Service</div>
                            <!--<div class="service-description">asdf asd asdfds fasdf asdf asdf asd fasd fasd fasd asdf asd asdf asdf asd fa sf asdf asdf asdf asdf asd fads ...</div>-->
                        </div>
                    </div>
                    <div class="overview-actions">
                        <div class="action phone-action"><i class=" icon-call"></i></div>
                        <div class="action detail-action"><i class="icon-more-horiz"></i></div>
                    </div>
                    <div class="details-actions">
                        <div class="action close-action"><i class="icon-close"></i></div>
                    </div>
                    <div class="details">
                        <div class="title-section">
                            <img class="service-image" src="css/imgs/random-images/field-landscape-meadow-3170-824x550.jpg" alt="">
                            <div class="service-name">Evanston Health Service</div>
                        </div>
                        <div class="info-section">
                            <div class="service-description">asdf asd asdfds fasdf asdf asdf asd fasd fasd fasd asdf asd asdf asdf asd fa sf asdf asdf asdf asdf asd fads adsf asdf asd fdsfrwg fgh fgh e fsdf wsdf wfa df asdf asdf asdfa sdfadsfa sdf</div>

                            <div class="action-section phone-section">
                                <div class="info service-phone">234-234-2342</div>
                                <div class="action phone-action"><i class="icon-call"></i></div>
                            </div>
                            <div class="action-section email-section">
                                <div class="info service-email">hao@northwestern.edu</div>
                                <div class="action email-action"><i class="icon-mail"></i></div>
                            </div>
                            <div class="action-section website-section">
                                <div class="info service-website">northwestern.edu/health-evanston</div>
                                <div class="action website-action"><i class="icon-publ"></i></div>
                            </div>
                            <div class="location-section">
                                <div class="address">330 University Place, Evanston IL, 60208</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-listitem">
                    <div class="overview">
                        <img class="service-image" src="css/imgs/random-images/bar-feet-legs.jpg" alt="">
                        <div class="service-info">
                            <div class="service-name">Safe Ride</div>
                            <!--<div class="service-description">asdf asd asdfds fasdf asdf asdf asd fasd fasd fasd asdf asd asdf asdf asd fa sf asdf asdf asdf asdf asd fads ...</div>-->
                        </div>
                    </div>
                    <div class="overview-actions">
                        <div class="action mail-action"><i class=" icon-mail"></i></div>
                        <div class="action detail-action"><i class="icon-more-horiz"></i></div>
                    </div>
                </div>
                <div class="service-listitem">
                    <div class="overview">
                        <img class="service-image" src="css/imgs/random-images/evening-lake-people-1402.jpg" alt="">
                        <div class="service-info">
                            <div class="service-name">Counseling and Psychological Services</div>
                            <!--<div class="service-description">asdf asd asdfds fasdf asdf asdf asd fasd fasd fasd asdf asd asdf asdf asd fa sf asdf asdf asdf asdf asd fads ...</div>-->
                        </div>
                    </div>
                    <div class="overview-actions">
                        <div class="action phone-action"><i class=" icon-call"></i></div>
                        <div class="action detail-action"><i class="icon-more-horiz"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-buffer"></div>
</div>

